html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
	margin: 0;
	padding: 0
}

* {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

p {
	text-align: left;
	font-size: 16pt;
}

#navItems a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:hover {
	background-color: silver;
}

a:visited {
	color: black;
}

a:active {
	color: #3d3d3d;
}

#banner {
	width: auto;
	height: auto;
}

#navigation {
	width: auto;
	height: auto;
}

#navItems li {
	display: inline;
	border-right: 1px solid;
	padding-right: 4px;
}

#navItems li:last-child {
	border-right: none;
}

#basklogin {
	display: inline;
	width: auto;
	float: right;
}

#basklogin a {
	text-decoration: none;
}

#wrapper {
	margin: auto;
	height: auto;
	width: 1000px;
	text-align: center;
}

#contactus {
	width: inherit;
	height: 500px;
}

#contactImg {
	float: right;
	width: 45%;
	padding-top: 10px;
}

#contactText {
	float: left;
	width: 50%;
	padding-top: 40px;
}

#contactText h1,
h3,
h4 {
	font-weight: lighter;
}

#footer {
	font-size: 14pt;
	border-top: 1px solid;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 20px;
	height: 150px;
}

#footer ul {
	text-align: left;
	list-style-type: none;
	padding: 0;
}

#footer a {
	text-decoration: none;
}

#footerLinks {
	float: left;
}

#footerSub {
	margin-top: 15px;
}

#footer img {
	float: right;
	max-height: 150px;
}

.userbtn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	display: inline;
}

.userbtn:hover {
	background-color: #ddd;
}

.user-content {
	display: none;
	position: absolute;
	min-width: 230px;
	overflow: auto;
	border: none;
}

.user-content button {
	background-color: #ddd;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border: none;
}

.user button:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

#footerSub input[type=text] {
	width: 35%;
	padding: 10px;
	margin: 0;
	display: inline-block;
	border: none;
	background: #ddd;
}

#footerSub .formbtn {
	background-color: #666;
	color: white;
	margin: 0;
	padding: 10px;
	border: none;
	width: auto;
	opacity: 0.9;
}
